;; html
<!-- ; html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{_variable:webpage_title_}}</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <h1>{{_variable:webpage_title_}}</h1>
    <main>
        {{_cursor_}}
    </main>
    <footer>
        <p>&copy; {{_date_}} {{_author_}}</p>
    </footer>
</body>
</html>
